


<!--
<p><b style="font-size: 40px;">Login Page</b></p>
<div class="container">
  <form (ngSubmit)="addform(f)" #f="ngForm">

    <div class="container">
      <div class="form-group">
        <label>USER_NAME</label>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Email" name="pro_name" [(ngModel)]="user_name" id="user_name"
          email required #username="ngModel">
        </mat-form-field>
        <div [hidden]="username.valid || username.untouched" >
          <div [hidden]="username?.errors?.required">
          <mat-error>Email is incoorect</mat-error>
          </div>
          <div [hidden]="!username?.errors?.required">
              <mat-error>Email is required</mat-error>
              </div>
          </div>

          <div class="form-group">
            <label>PASSWORD</label>
            <br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" type="password" name="password" [(ngModel)]="password" id="password"
              required #Password="ngModel">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div [hidden]="Password.valid || Password.untouched" >
              <div [hidden]="!Password?.errors?.required">
                  <mat-error>Password is required</mat-error>
                  </div>
              </div>
              <button mat-raised-button color="primary" (click)="onSubmit()" >SUBMIT</button>
              &nbsp;&nbsp;
              <button mat-raised-button color="warn" (click)="onCancel()">CANCEL</button>
              <br>
              <div style="margin-left:100px; margin-top:15px; font-size:16px;"><a href="forget">FORGET PASSWORD?</a></div>

</div>
</div> -->
<body>
    <div class = "container">
        <div class = "rows">
            <div class = "col-md-3 col-sm-3"></div>
            <div class = "col-md-2 col-sm-2">
                <div class = "div1">
                  <form (ngSubmit)="addform(f)" #f="ngForm">
                  <div class = "rows" height = "150">
                    <div class = "col-md-3 col-sm-3"></div>
                    <div class = "col-md-4 col-sm-4">
                       <img src = "../../assets//logo5.jpg" style = "margin-top:10px;" height = "150" width = "150">
                    </div>
                  </div>

                  <div class = "rows" height = "50">
                      <div class="example-container">
                      <mat-form-field class = "example-full-width">
                          <input autocomplete="off" spellcheck="false" matInput placeholder="Enter your email" required email name = "user_name" [(ngModel)]="user_name" #Username="ngModel">
                          <mat-error *ngIf="Username.hasError('required')">Please enter your email id</mat-error>
                          <mat-error *ngIf="!Username.hasError('required')">Please enter valid email id</mat-error>
                      </mat-form-field>
                      </div>
                    </div>

                  <div class = "rows" height = "50" >
                      <div class="example-container" >
                      <mat-form-field class = "example-full-width">
                          <input [type] = "flag ? 'password' : 'text'"  spellcheck="false" matInput placeholder="Enter your password" required name = "password" [(ngModel)]="password" #Password="ngModel" maxlength="15" minlength="8">
                          <mat-error *ngIf="Password.hasError('required')">Please enter your password</mat-error>
                          <mat-error *ngIf="!Password.hasError('required')">Password must have 8 characters</mat-error>

                          <mat-icon matSuffix (click)="flag = !flag">{{flag ? 'visibility_off' : 'visibility'}}</mat-icon>
                          <mat-hint align="end">{{Password.value?.length}}/15</mat-hint>
                        </mat-form-field>
                        </div>
                  </div>

                  <div class = "rows" height = "50">
                    <div class="left">
                       <a [routerLink]="['/forgetpassword']"><p style = "color:darkblue">
                        <b>Forgot Password?</b></p></a>
                        </div>
                  </div>


                  <div class = "rows" height = "50" style = "margin-top:50px;">
                      <div class = "col-md-4 col-sm-4"></div>
                      <div class = "col-md-4 col-sm-4">
                      <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" [disabled]= "((user_name=='' || password=='') || !f.valid) " >Login
                          <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
                      </button>
                      </div>
                  </div>


                 </form>
               </div>

            </div>
        </div>
    </div>
    </body>



