<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" routerLink="">MENU</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="category">MANAGE CATEGORY</a>
      <a mat-list-item routerLink="product">MANAGE PRODUCT</a>
      <a mat-list-item routerLink="order">MANAGE ORDER</a>
      <a mat-list-item routerLink="repair">MANAGE REPAIRING</a>
      <a mat-list-item routerLink="user">MANAGE USER</a>
      <a mat-list-item routerLink="bill">MANAGE BILLS</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">

        </mat-icon>
      </button>
      <span><img src="../../assets/logo5.jpg" style="height: 70px;width:150px;"></span>
      <button mat-raised-button color="accent" style="margin-left: 900px;" routerLink="">LOGIN</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
