<p><b style="font-size: 30px;">FORGET PASSWORD PAGE</b></p>
<div class="container">
  <form (ngSubmit)="addform(f)" #f="ngForm">

    <div class="container">
      <div class="form-group">
        <label>EMAIL ID</label>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Email" name="pro_name" [(ngModel)]="user_name" id="user_name"
          email required #username="ngModel">
        </mat-form-field>
        <div [hidden]="username.valid || username.untouched" >
          <div [hidden]="username?.errors?.required">
          <mat-error>Email is incoorect</mat-error>
          </div>
          <div [hidden]="!username?.errors?.required">
              <mat-error>Email is required</mat-error>
              </div>
          </div>
          <br>
          <button mat-raised-button color="primary" (click)="onForget()" >DONE</button>
          &nbsp;
          <button mat-raised-button color="warn" (click)="onCancel()" >cancel</button>
          </div>
